<li>
	{{movie_name}}
	{{rating}}
	<button class="change-watched" data-id="{{this.id}}" data-watched="{{watched}}">
		{{#unless watched}}
		Watched?
		{{/unless}}
	</button>
	<button class="deleteMovie" data-id="{{this.id}}">Delete</button>
</li>