{{!-- if it has been watched, don't print the delete button --}}
{{#if watched}}
<li>
	<span class="text">
		Movie: {{movie_name}}<br/>
		Rating: {{rating}}
	</span>
	<button class="deleteMovie btn btn-secondary" data-id="{{this.id}}">Delete</button>
</li>
 {{!-- else, do print a delete button --}}
{{else}}
<li>
	<span class="text">
		Movie: {{movie_name}}<br/>
		Rating: {{rating}}
	</span>
	<button class="change-watched btn btn-secondary" data-id="{{this.id}}" data-watched="{{watched}}">
		{{#unless watched}}
		Watched?
		{{/unless}}
	</button>
	<button class="deleteMovie btn btn-secondary" data-id="{{this.id}}">Delete</button>
</li>
{{/if}}